.next {
  width: 100%;
  height: 4076px;
}
/* 顶部导航 */
.header {
  position: relative;
  width: 100%;
  height: 101px;
  background-color: #3c8cff;
  position: fixed;
  z-index: 100;
}
.logo {
  line-height: 138px;
}
.logo img {
  display: inline-block;
  width: 166px;
  margin-left: 144px;
  height: 43px;
}
.header ul {
  margin-right: 103px;
  float: right;
}
.header li {
  margin: 0 29px;
  line-height: 101px;
  float: left;
}

.header li a:hover {
  color: rgb(108, 213, 227);
}
.header ul li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
}
.show {
  position: relative;
  top: 0;
  opacity: 1;
}
.hiddened {
  position: relative;
  top: 0;
  opacity: 1;
}

/* 轮播图 */

.lbt {
  position: relative;
  top: -130px;
  width: 100%;
  height: 885px;
  overflow: hidden;
}
.box {
  background-repeat: no-repeat;
  background-position: center;
}
.box ul {
  overflow: hidden;
}

.box li {
  /* position: absolute; */
  left: 0;
  float: left;
}
.boximg {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.tabs {
  position: absolute;
  bottom: 20px;
  left: 45%;
}
.tabs li {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #cccccc;
  opacity: 0.5;
  cursor: pointer;
  margin-right: 15px;
  text-align: center;
}
.tabs .active {
  background-color: #ffffff;
  border: 3px solid #cccccc;
}
/* 背景文字 */
.bjwz {
  position: absolute;
  top: 0;
  left: 120px;
  width: 500px;
  height: 410px;
  background-color: #ffffff;
  border-radius: 0 0 145px;
  z-index: 1;
}
.box1 {
  padding: 181px 42px 0px 39px;
}
.bjwz h4 {
  width: 100%;
  height: 30px;
  font-size: 26px;
  font-weight: normal;
  color: #828282;
}
.bjwz p {
  margin-top: 22px;
  color: #333333;
  font-size: 50px;
  font-weight: 600;
}
/* 企业文化 */
.qywh {
  width: 100%;
  height: 690px;
  margin-top: 58px;
  overflow: hidden;
}
/* 左边 */
.qywh-left {
  width: 475px;
  height: 555px;
  float: left;
}
.qywh-left h3 {
  color: #333333;
  font-size: 48px;
  width: 192px;
  height: 56px;
  margin-bottom: 68px;
}
.qywh-left p {
  font-size: 22px;
  color: #333333;
  line-height: 1.5;
}
/* 右边 */
.qywh-right{
    float: right;
    width: 730px;
    height: 680px;
}
.qywh-right img{
    width: 730px;
    height: 414px;
}
.qywh-bottom{
    width: 730px;
    height: 255px;
    padding: 0px 62px;
    background: #ffffff;
}
.qywh-right h3{
    position: relative;
    font-size: 30px;
    width: 607px;
    line-height: 54px;
    height: 54px;
    text-align: center;
    color: #333333;
    margin: 10px 0px 18px;
}
.qywh-bottom img{
    position: absolute;
    width: 22px;
    height: 32px;
}
.qywh-bottom .lleft{
    left: 0;
    top: 5px;
}

.qywh-bottom .rright{
    right: 0;
    top: 8px;
}
.qywh-bottom p{
    width: 607px;
    height: 144px;
    font-size: 20px;
    color: #333333;
    text-align: center;
    line-height: 1.7;
}
/* 大事记 */
.dsj{
    width: 100%;
    height: 670px;
    margin-top: 169px
}
.dsj h3{
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 48px;
    margin-bottom: 55px;
    color: #333333;
}
.dsj-content{
    width: 100%;
    height: 359px;
}
.dsj-section{
    width: 100%;
    height: 249px;
    margin: auto;
}
.dsj-sectionone{
    width: 637px;
    height: 232px;
    border-radius: 23px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0.4rem 0.5rem rgba(0,0,0,0.15);
    overflow: hidden;
}
.dsj-section img{
    width: 314px;
    height: 232px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}
.words{
    float: right;
    width: 252px;
    height: 209px;
    margin: 23px 26px 0px 45px;
}
.words h4{
 width: 252px;
 height: 37px;
 font-size: 30px;
 color: #333333;
 line-height: 37px;
 margin-bottom: 10px;
}
.words p{
    width: 252px;
    height: 128px;
    color: #333333;
    font-size: 18px;
    line-height: 32px;
}
.hx{
    width: 600px;
    height: 55px;
    margin:70px 115px 0px;
}
.hx li{
    width: 96%;
    display: inline-block;
    height: 1.5px;
    background-color: #333333;
}
.hx img{position: relative;
    top: 26px;
    left: 37px;
    width: 32px;
    height: 32px;
    margin-right: 75px;
}
/* 人工智能 */
.ai{
    width: 100%;
    height: 865px;
}
.ai h3{
    width: 100%;
    height: 56px;
    line-height: 56px;
    font-size: 48px;
    margin-bottom: 55px;
    color: #333333;
}
.ai img{
    width: 100%;
    height: 350px;
}
/* 下部分 */
.ai-bottom{
    /* overflow: hidden; */
    width: 100%;
    height: 356px;
    padding-left: 77px;
    margin-top: 40px;
}
.ai-bottom-left{
    width: 190px;
    height: 356px;
    float: left;
}
.ai-bottom-right{
    /* float: right; */
    width: 990px;
    height: 356px;
}
.ai-bottom img{
    width: 140px;
    height: 117px;
    /* float: left; */
}
.ai-bottom-right p{
    width: 100%;
    height: 108px;
    font-size: 20px;
    color: #333333;
    margin-left: 188px;
    line-height: 1.7;
}
.ai-bottom-right h5{
  width: 100%;
  height: 108px;
  font-size: 20px;
  color: #333333;
  margin-left: 188px;
  line-height: 1.7;
  font-weight: normal;
}
.ai-bottom-right h5 a{
  color: #3c8cff;
  font-size: 18px;
  margin-left: 10px;
}
/* 联系我们 */
.lxwm{
  width: 100%;
  height: 422px;
  margin-top: 170px;
}
.lxwm-left-top, .lxwm-right-top,
.lxwm-left-bottom ,.lxwm-right-bottom {
  width: 630px;
  height: 80px;
}
.lxwm-left-top ,.lxwm-right-top{
  margin-bottom: 70px;
}
.lxwm-left{
  float: left;
}
.lxwm-right{
  float: right;
}
.lxwm h3{
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-size: 48px;
  margin-bottom: 55px;
  color: #333333;
  margin-bottom: 70px;
}
.lxwm p{
  font-size: 22px;
  color: #333333;
  width: 630px;
  height: 40px;
  font-weight: 600;
}
.lxwm a{
  color: #3c8cff;
  font-size: 18px;
}
/* 尾部 */
.footer{
  width: 100%;
  height: 328px;
  background-color: #3c8cff;
}
.footer-content1{
  padding-top: 43px;
  padding-bottom: 33px;
}
.footer-logo{
  display: inline-block;
  width: 251px;
  height: 43px;
  margin: 0px 29px 29px 0px;
}
.footer-logo img{
  width: 166px;
  height: 43px;
}
/* 尾部内容 */
.footer-content{
  width: 895px;
  height: 185px;
  float: right;
}
.item1,.item2,.item3,.item4{
  height: 184px;
  margin-right: 122px;
  float: left;
}

.item1{
  width: 80px;
}
.item2{
  width: 64px;
}
.item3{
  width: 176px;
}
.item4{
  width: 83px;
}
.footer-content h5{
  font-size: 16px;
  color: #fff;
  margin-bottom: 22px;
}
.footer-content p{
  font-size: 16px;
  color: #fff;
  line-height: 28px;
}
.item4 img{
  width: 14px;
  height: 14px;
}
/* 底部 */
.footer-bottom{
  width: 100%;
  height: 50px;
  margin-top: 130px;
}
.footer-bottom-left{
  width: 155px;
  height: 27px;
}
.footer-bottom-left p{
  width: 90%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  padding: 5px 6px;
}
.footer-bottom-left img{
  width: 12px;
  height: 12px;
  float: right;
}
.footer-bottom-right{
  width: 376px;
  height: 46px;
  font-size: 14px;
  float: right;
  color: #fff;
}
.footer-bottom-right p:first-child{
  font-size: 16px;
  margin-left: 200px;
}
.footer-bottom-right p:last-child{
  position: relative;
  margin-left: 21px;
  margin-top: 10px;
}
.footer-bottom-right img{
  position: absolute;
  top: -4px;
  left: -26px;
  width: 20px;
  height: 20px;
}
.footer-content p:hover{
  color: rgb(108, 213, 227);
}
/* 轮播图 */
/* 轮播图 */
.img{
  width: 100%;
  height: 100%;
}

.lb_box{
  width: 100%;
  height: 750px;
}
.lb_imgbox{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.lb_imgleft{
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  transition:left 0.3s linear;
}
.lb_img{
  width: 600%;
  height: 100%;
  display: flex;
}
.lb_li{
  list-style: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.lb_point{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.li_ol{
  display: flex;
  justify-content:center;
  margin-bottom: 25px;
  
}
.lb_olli{
  display: inline-block;
width: 18px;
height: 18px;
border-radius: 50%;
border: 3px solid #cccccc;
opacity: 0.5;
cursor: pointer;
margin-right: 15px;
text-align: center;
}
.lb_olli_color{
  background-color: red;
}
@media screen and (max-width:599px){
  .lb_btn{
      display: none;
  }
  .lb_box{
      height: 40vw;
  }
}
