/* 版心 */
.container1 {
  width: 1380px;
  margin: 0 auto;
}
/* 全屏 */
.main {
  width: 100%;
  height: 7373px;
}
/* 头部导航栏 */
.header {
  position: fixed;
  width: 100%;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  z-index: 1000;
  box-sizing: border-box;
  padding-left: 26px;
}
/* 头部左边 */
.header-left {
  float: left;
  width: 196px;
  box-sizing: border-box;
  padding-left: 60px;
  width: 196px;
  height: 35px;
  margin-top: 12px;
}
.header-left a {
  display: inline-block;
  width: 196px;
  height: 35px;
  line-height: 35px;
}

.llogo1 {
  width: 120px;
  height: 30px;
}
.llogo2 {
  width: 50px;
  margin-left: 4px;
  height: 20px;
  margin-top: 12px;
  border-radius: 5px;
}
/* 头部右边 */
.header-right {
  width: 450px;
  height: 64px;
  float: right;
}
.header-right a {
  float: left;
  width: 28px;
  height: 48px;
  margin-right: 36px;
  color: #ffffff;
  font-size: 14px;
}
.header-right a:hover {
  opacity: 0.5;
}
.header-right a:first-child {
  border-bottom: 2px solid #ffffff;
  font-weight: 800;
}
.header-right a:last-child {
  position: relative;
  margin-right: 0;
}
.header-right a:last-child::before {
  content: "";
  display: block;
  height: 10px;
  border-right: 1px solid #ffffff;
  position: absolute;
  bottom: 11px;
  left: -32px;
}
.header-right a:nth-child(3) {
  width: 70px;
}
.header-right a:nth-child(4) {
  width: 56px;
  margin-right: 62px;
}
/* 背景遮罩 */
.olive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
  background: rgba(51, 112, 255, 0.2);
}
/* 中间内容 */
.content {
  width: 626px;
  height: 262px;
}
/* 头部标题 */
.header-title {
  width: 627px;
  height: 92px;
  margin-bottom: 68px;
}
.header-title h3 {
  width: 100%;
  height: 61px;
  font-size: 54px;
  color: #ffffff;
}
.header-title p {
  position: relative;
  width: 100%;
  height: 17px;
  color: #ffffff;
  letter-spacing: 23px;
  text-indent: 23px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
  margin-top: 14px;
}
.header-title p::before {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0),
    #fff 47%,
    hsla(0, 0%, 100%, 0)
  );
}
.header-title p::after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0),
    #fff 47%,
    hsla(0, 0%, 100%, 0)
  );
}
/* 搜索框 */
.search {
  width: 420px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-left: 105px;
}
.search input {
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
  color: #333333;
  font-size: 16px;
  width: 362px;
  height: 100%;
  border-radius: 40px;
  border: none;
}
button {
  border: none;
  width: 48px;
  margin-top: 4px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(51, 112, 255);
  opacity: 1;
}
button:hover {
  opacity: 0.5;
}
button img {
  width: 18px;
  height: 20px;
}
::-webkit-input-placeholder {
  color: #cccccc;
}
/* 视频 */
.sp {
  position: relative;
  width: 100%;
  height: 755px;
  overflow: hidden;
}
/* .root-hero-video {
  position: absolute;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  left: 36.8%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 0;
  display: none;
}

@media only screen and (min-width: 769px) {
  .root-hero-video {
    display: block;
  }
} */

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* 第一屏 */
.section1 {
  width: 100%;
  height: 860px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../images/dq.png");
  overflow-x: hidden;
  text-align: center;
  max-width: 1440px;
  height: 860px;
  margin: 0 auto;
  background-position: bottom;
  background-size: 1440px auto;
  background-repeat: no-repeat;
  position: relative;
  color: #1f2329;
}
/* 标题 */
.section1 .title1 {
  position: relative;
  top: 100px;
  width: 100%;
  height: 120px;
}
.section1 .title1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #646a73;
  margin-top: 45px;
}
.title2 {
  position: relative;
  top: 100px;
}
.our {
  width: 100%;
  height: 66px;
  position: relative;
  top: 67px;
  margin-top: 33px;
  font-size: 48px;
  line-height: 67px;
  color: #1f2329;
  opacity: 0.04;
  letter-spacing: 8px;
  font-weight: 700;
}
.in {
  width: 100%;
  height: 40px;
  font-weight: 700;
  position: relative;
  bottom: -16px;
  font-size: 32px;
  color: #1f2329;
}
/* 产品 */
.product-list {
  position: relative;
  width: 100%;
  height: 258px;
  display: inline-flex;
  margin-top: 180px;
}
.product-list a {
  width: 90px;
  margin: 0 27px;
  cursor: pointer;
}
.product-list img {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  transition: all 0.3s;
}

.product-list div {
  position: relative;
  top: 50px;
  width: 90px;
  height: 22px;
  /* color: #1f2329; */
  font-size: 16px;
  margin-top: 16px;
  line-height: 22px;
}
.section1 button {
  background: #3370ff;
  border: none;
  color: #fff;
  border-radius: 27px;
  height: 54px;
  font-size: 18px;
  padding: 0 32px;
  margin-top: 72px;
  width: 136px;
  position: relative;
  top: 143px;
}
.active1 {
  transform: scale(1.2);
  box-shadow: 10px 10px 10px 8px rgba(31, 35, 41, 0.03);
}
.active {
  color: #3370ff;
}
/* 第二屏 */
.section2 {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 65px;
  width: 100%;
  height: 1064px;
}
/* 第一栏 */
.zw {
  width: 100%;
  height: 288px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 113px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.img-box {
  width: 100%;
  height: 216px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.img-box img {
  width: 100%;
  transition: transform 0.2s;
  will-change: transform;
}

.img-box img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px 8px rgba(31, 35, 41, 0.03);
}

.bbox1 {
  width: 216px;
  position: relative;
}
.zw span {
  line-height: 32px;
  margin-top: 40px;
  font-size: 24px;
  color: #1f2329;
  position: relative;
  top: 200px;
}
/* 第二栏 */
.zw1 {
  width: 100%;
  height: 388px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 113px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.img-box {
  width: 100%;
  height: 216px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.img-box img {
  width: 100%;
  transition: transform 0.2s;
  will-change: transform;
}

.img-box img:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 10px 8px rgba(31, 35, 41, 0.03);
}

.bbox1 {
  width: 216px;
  position: relative;
}
.zw1 span {
  line-height: 32px;
  margin-top: 40px;
  font-size: 24px;
  color: #1f2329;
  position: relative;
  top: 150px;
}
.zw1 .bbox1:last-child {
  position: relative;
}
.zz {
  position: relative;
  top: -389px;
  right: -1045px;
  z-index: 3;
  width: 216px;
  height: 216px;
  background: rgba(55, 60, 67, 0.7);
  border-radius: 50%;
}
.zz a {
  position: absolute;
  left: 26px;
  width: 176px;
  top: 70px;
  height: 52px;
  color: #fff;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.zz img {
  position: absolute;
  left: 92px;
  top: 122px;
  width: 32px;
  height: 22px;
}
/* 第三屏 */
.section3 {
  position: relative;
  width: 100%;
  height: 880px;
}
/* 背景色 */
.bjs {
  width: 980px;
  height: 1553px;
  top: 0px;
  right: 0px;
  position: absolute;
  background: #f8f9fa;
  z-index: -1;
}
.bjs1 {
  width: 168px;
  height: 296px;
  top: -88px;
  right: 0px;
  position: absolute;
  background-image: radial-gradient(
    rgba(239, 240, 241, 0.8) 20%,
    rgba(0, 0, 0, 0) 0
  );
  background-size: 20px 18px;
}
.bjs3 {
  width: 168px;
  height: 296px;
  top: -88px;
  left: 0px;
  position: absolute;
  background-image: radial-gradient(
    rgba(239, 240, 241, 0.8) 20%,
    rgba(0, 0, 0, 0) 0
  );
  background-size: 20px 18px;
  z-index: -1;
}
/* 标题 */
.title3 {
  position: relative;
  top: 180px;
  width: 100%;
  height: 173px;
  padding-left: 136px;
  box-sizing: border-box;
  padding-top: 84px;
}
.title3 h3 {
  width: 100%;
  height: 40px;
  font-size: 32px;
  font-weight: 550;
  color: #1f2329;
}
.title3 p {
  width: 100%;
  height: 24px;
  color: #646a73;
  margin-top: -35px;
  font-size: 16px;
}
.title3 span {
  position: relative;
  top: -58px;
  margin-top: 33px;
  font-size: 48px;
  line-height: 67px;
  color: #1f2329;
  opacity: 0.04;
  letter-spacing: 8px;
  font-weight: 600;
}
/* 内容 */
.content3 {
  width: 100%;
  height: 475px;
  margin-top: 80px;
}
/* 遮罩层 */
.zzc{
  position: absolute;
  left: 0;
  width: 962px;
  height: 525px;
  background-color: #cccccc;
  opacity: 0.5;
  z-index: 8;
  left: -962px;

}
.dh1{
  animation: hd 2s;
}
@keyframes hd {
  0%{
    left: -962px;
  }
  100%{
    left: 962px;
  }
}
.content31{
  width: 962px;
  height: 525px;
  overflow: hidden;
  position: absolute;
  left: 0;
}
.left3 {
  float: left;
  width: 962px;
  height: 525px;
  overflow: hidden;
}
.left3 div {
  width: 962px;
  height: 525px;
  /* float: left; */
  position: absolute;
  left: 0;
  display: none;
}
.left3 .bblock2{
  display: block;
}
.left3 img {
  width: 962px;
  height: 525px;
}
.right3 {
  position: relative;
  top: 200px;
  float: right;
  margin-left: 120px;
  max-width: 410px;
  min-height: 450px;
  padding-right: 254px;
}
.llist{
  width: 336px;
  /* height: 124px; */
margin-bottom: 48px;
}
.list-title {
  width: 336px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  color: #646a73;
  font-size: 20px;
}
.desc {
  display: none;
  width: 336px;
  height: 24px;
  color: #646a73;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 120px;
}
.open{
  font-weight: 600;
  font-size: 28px;
  color: #1f2329;
  width: 336px;
  height: 36px;
  
}
.bblock1{
  display: block;
}
/* 第四屏 */
.section4
,.section6{
width: 100%;
height: 807px;
position: relative;
}
.bjs2{
  width: 168px;
  z-index: -1;
  height: 296px;
  position: absolute;
  right: 275px;
  background-image: radial-gradient( rgba(239, 240, 241, 0.8) 20%, rgba(0, 0, 0, 0) 0 );
  background-size: 20px 18px;
}
/* 标题 */
.title4
,.title6 {
  position: relative;
  top: 180px;
  width: 100%;
  height: 173px;
  padding-left: 150px;
  box-sizing: border-box;
  padding-top: 84px;
}
.title4,.title6 h3 {
  width: 100%;
  height: 40px;
  font-size: 32px;
  font-weight: 550;
  color: #1f2329;
}
.title4
  span {
  position: relative;
  top: -58px;
  margin-top: 33px;
  font-size: 48px;
  line-height: 67px;
  color: #1f2329;
  opacity: 0.04;
  letter-spacing: 8px;
  font-weight: 600;
}
.title6
  span {
  position: relative;
  top: -58px;
  margin-top: 33px;
  font-size: 48px;
  line-height: 67px;
  color: #1f2329;
  opacity: 0.04;
  letter-spacing: 8px;
  font-weight: 600;
}
/* 内容 */
.content4
,.content6{
  width: 100%;
  height: 552px;
  position: relative;
  box-sizing: border-box;
  padding-left: 150px;
  padding-right: 150px;
}
.left4,
.left6{
  float: left;
  width: 436px;
  height: 419px;
}

#works{
  margin-top: 30px;
  width: 360px;
  height: 113px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
  
}
#works span{
  font-size: 117px;
  line-height: 130px;
  top:0px;
  position: absolute;
  color: #1f2329;
  opacity: .04;
  letter-spacing: 8px;
  font-weight: 700;
}
#works div{
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  color: #1f2329;
  font-weight: 600;
}
.works11{
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  color: #1f2329;
  font-weight: 600;
}

.title-item{
  width: 360px;
  height: 125px;
}
.title-item h4{
  width: 360px;
  height: 24px;
  font-size: 20px;
  margin-bottom: 10px;
  color: #1f2329;
}
.title-item p{
  width: 360px;
  height: 43px;
  font-size: 14px;
  color: #646a73;
  line-height: 1.8;
}
.right4
,.right6{
  padding-right: 88px;
  float: right;
  width: 783px;
  height: 443px;
}
.right4
 img{
  width: 871px;
  height: 502px;
}
.right6
 img{
  width: 871px;
  height: 502px;
}
/* 第五屏 */
.section5{
  width: 100%;
  height: 528px;
  background: #f8f9fa;
}
.content5{
  position: relative;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 100px 150px;
  width: 100%;
  height: 448px;
}
.left5{
  float: left;
  width: 871px;
  height: 502px;
}
.left5 img{
  width: 871px;
  height: 502px;
}
.right5{
  float: right;
}
.title5-1{
  margin-top: 30px;
  width: 360px;
  height: 113px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 36px;
  
}
.title5-1 span{
  font-size: 117px;
  line-height: 130px;
  top:100px;
  position: absolute;
  color: #1f2329;
  opacity: .04;
  letter-spacing: 8px;
  font-weight: 700;
}
.title5-1 div{
  font-size: 28px;
  line-height: 36px;
  margin-top: 0;
  color: #1f2329;
  font-weight: 600;
}
.title-item1,.title-item2{
  width: 360px;
  height: 65px;
  color: #646a73;
  font-size: 14px;
  line-height: 1.7;
}
.title-item2{
  height: 108px;
  margin-top: 40px;
}
/* 第七屏 */
.section7{
  width: 100%;
  height: 528px;
  background: #f8f9fa;
}
/* 内容 */
.content7{
  width: 100%;
  height: 487px;
  margin-top: 50px;
  box-sizing: border-box;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
}
/* 左边 */
.left7{
  float: left;
  width: 871px;
  height: 502px;
}
.left7 img{
  width: 871px;
  height: 502px;
}
/* 右边 */
.right7{
  float: right;
  width: 436px;
  height: 400px;
}
.title7-1{
  width: 360px;
  height: 113px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.title7-1 h3{
width: 360px;
height: 73px;
color: #1f2329;
font-size: 28px;
font-weight: 600;
}
.title7-1 p{
  position: relative;
  top: -108px;
  color: #1f2329;
  opacity: .04;
  letter-spacing: 8px;
  width: 135px;
  height: 126px;
  font-size: 106px;
  line-height: 130px;
}
.item{
  width: 360px;
  height:120px;
}
.item h5{
  width: 360px;
  height: 24px;
  font-size: 20px;
  color: #1f2329;
  font-weight: 600;
  margin-bottom: 15px;
}
.item p{
  width: 360px;
  height: 22px;
  color: #646a73;
  font-size: 14px;
  line-height: 1.7;
}