/* 版心 */
.container1 {
  width: 1380px;
  margin: 0 auto;
}
/* 全屏 */
.main {
  width: 100%;
  height: 7373px;
}
/* 头部导航栏 */
.header {
  position: fixed;
  width: 100%;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  z-index: 1000;
  box-sizing: border-box;
  padding-left: 26px;
}
/* 头部左边 */
.header-left {
  float: left;
  width: 196px;
  box-sizing: border-box;
  padding-left: 60px;
  width: 196px;
  height: 35px;
  margin-top: 12px;
}
.header-left a {
  display: inline-block;
  width: 196px;
  height: 35px;
  line-height: 35px;
}

.llogo1 {
  width: 120px;
  height: 30px;
}
.llogo2 {
  width: 50px;
  margin-left: 4px;
  height: 20px;
  margin-top: 12px;
  border-radius: 5px;
}
/* 头部右边 */
.header-right {
  width: 450px;
  height: 64px;
  float: right;
}
.header-right a {
  float: left;
  width: 28px;
  height: 48px;
  margin-right: 36px;
  color: #ffffff;
  font-size: 14px;
}
.header-right a:hover {
  opacity: 0.5;
}
.header-right a:first-child {
  border-bottom: 2px solid #ffffff;
  font-weight: 800;
}
.header-right a:last-child {
  position: relative;
  margin-right: 0;
}
.header-right a:last-child::before {
  content: "";
  display: block;
  height: 10px;
  border-right: 1px solid #ffffff;
  position: absolute;
  bottom: 11px;
  left: -32px;
}
.header-right a:nth-child(3) {
  width: 70px;
}
.header-right a:nth-child(4) {
  width: 56px;
  margin-right: 62px;
}
/* 背景遮罩 */
.olive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
  background: rgba(51, 112, 255, 0.2);
}
/* 中间内容 */
.content {
  width: 626px;
  height: 262px;
}
/* 头部标题 */
.header-title {
  width: 627px;
  height: 92px;
  margin-bottom: 68px;
}
.header-title h3 {
  width: 100%;
  height: 61px;
  font-size: 54px;
  color: #ffffff;
}
.header-title p {
  position: relative;
  width: 100%;
  height: 17px;
  color: #ffffff;
  letter-spacing: 23px;
  text-indent: 23px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.8;
  margin-top: 14px;
}
.header-title p::before {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0),
    #fff 47%,
    hsla(0, 0%, 100%, 0)
  );
}
.header-title p::after {
  content: "";
  display: block;
  width: 74px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0),
    #fff 47%,
    hsla(0, 0%, 100%, 0)
  );
}
/* 搜索框 */
.search {
  width: 420px;
  height: 56px;
  background-color: #ffffff;
  border-radius: 40px;
  margin-left: 105px;
}
.search input {
  box-sizing: border-box;
  float: left;
  padding-left: 30px;
  color: #333333;
  font-size: 16px;
  width: 362px;
  height: 100%;
  border-radius: 40px;
  border: none;
}
button {
  border: none;
  width: 48px;
  margin-top: 4px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(51, 112, 255);
  opacity: 1;
}
button:hover {
  opacity: 0.5;
}
button img {
  width: 18px;
  height: 20px;
}
::-webkit-input-placeholder {
  color: #cccccc;
}
/* 视频 */
.sp {
  position: relative;
  width: 100%;
  height: 755px;
  overflow: hidden;
}
/* .root-hero-video {
  position: absolute;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  top: 0;
  left: 36.8%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 0;
  display: none;
}

@media only screen and (min-width: 769px) {
  .root-hero-video {
    display: block;
  }
} */

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* 第一屏 */
.section1 {
  width: 100%;
  height: 860px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../images/dq.png");
  overflow-x: hidden;
  text-align: center;
  max-width: 1440px;
  height: 860px;
  margin: 0 auto;
  background-position: bottom;
  background-size: 1440px auto;
  background-repeat: no-repeat;
  position: relative;
  color: #1f2329;
}
/* 标题 */
.section1 .title1 {
  position: relative;
  top: 100px;
  width: 100%;
  height: 120px;
}
.section1 .title1 p {
  font-size: 16px;
  line-height: 1.5;
  color: #646a73;
  margin-top: 45px;
}
.title2{
  position: relative;
  top: 100px;
}
.our {
  width: 100%;
  height: 66px;
  position: relative;
  top: 67px;
  margin-top: 33px;
  font-size: 48px;
  line-height: 67px;
  color: #1f2329;
  opacity: 0.04;
  letter-spacing: 8px;
  font-weight: 700;
}
.in {
  width: 100%;
  height: 40px;
  font-weight: 700;
  position: relative;
  bottom: -16px;
  font-size: 32px;
  color: #1f2329;
}
/* 产品 */
.product-list {
  position: relative;
  width: 100%;
  height: 258px;
  display: inline-flex;
  margin-top: 180px;
}
.product-list a {
  width: 90px;
  margin: 0 27px;
  cursor: pointer;
}
.product-list img {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  transition: all .3s;
}

.product-list div {
  position: relative;
  top: 50px;
  width: 90px;
  height: 22px;
  /* color: #1f2329; */
  font-size: 16px;
  margin-top: 16px;
  line-height: 22px;
}
.section1 button {
  background: #3370ff;
  border: none;
  color: #fff;
  border-radius: 27px;
  height: 54px;
  font-size: 18px;
  padding: 0 32px;
  margin-top: 72px;
  width: 136px;
  position: relative;
  top: 143px;
}
.active1{
  transform: scale(1.2);
  box-shadow: 10px 10px 10px 8px rgba(31, 35, 41, 0.03);
}
.active{
  color: #3370ff;
}
/* 第二屏 */
.section2{
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 65px;
  width: 100%;
  height: 1030px;
}
/* 第一栏 */
.zw
{
  width: 100%;
  height: 388px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 113px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.zw a{
  align-items: center;
  width: 216px;
  height: 388px;
}
.zw img{
  width: 216px;
  height: 216px;
  overflow: hidden;
}
.zw div{
  line-height: 32px;
  margin-top: 40px;
  font-size: 24px;
  transition: .5s ease;
  color: #1f2329;
  position: relative;
  top: 200px;
}
/* 第二栏 */
.zw1
{
  width: 100%;
  height: 388px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 113px;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.zw1 a{
  align-items: center;
  width: 216px;
  height: 388px;
}
.zw1 img{
  width: 216px;
  height: 216px;
}
.zw1 div{
  line-height: 32px;
  margin-top: 40px;
  font-size: 24px;
  color: #1f2329;
  position: relative;
  top: 150px;
}
.zw1 a:last-child{
position: relative;

}
.zz{
  position: relative;
  top: -389px;
  left: 1044px;
  width: 216px;
  height: 216px;
  background: rgba(55, 60, 67, 0.7);
  border-radius: 50%;
}
.zz a{
  position: absolute;
  left: 26px;
  width: 176px;
  top: 70px;
  height: 52px;
  color: #fff;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}
.zz img{
  position: absolute;
  left: 92px;
  top: 122px;
  width: 32px;
  height: 22px;
}
