.next {
  width: 100%;
  height: 4740px;
}
.container {
  width: 1350px;
  margin: 0 auto;
}
/* 顶部导航 */
.header {
  /* position: relative; */
  width: 100%;
  height: 101px;
  background-color: #3c8cff;
  position: fixed;
  z-index: 100;
}

.logo {
  line-height: 138px;
  width: 250px;
  height: 43px;
}

.logo img {
  display: inline-block;
  width: 166px;
  margin-left: 144px;
  height: 43px;
}

.header-right {
  width: 675px;
  height: 21px;
  margin-right: 103px;
  float: right;
}

.header-right div {
  width: 64px;
  height: 21px;
  margin: 0 29px;
  line-height: 101px;
  float: left;
}

.header-right div:nth-child(2) {
  width: 80px;
}

.header-right div:nth-child(4) {
  width: 96px;
}

.header-right a:hover {
  color: rgb(108, 213, 227);
}

.header-right a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
}
/* 片段 */
.main {
  width: 100%;
  height: 100%;
  padding-top: 162px;
}

#section h3 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 40px;
  width: 100%;
  line-height: 53.6px;
  font-weight: 600;
  float: left;
}
#section img {
  width: 405px;
  height: 228px;
}
.item {
  float: left;
  width: 405px;
  height: 620px;
}
#iitem {
  margin-left: 67px;
  margin-right: 67px;
}
.item h4 {
  width: 405px;
  height: 32px;
  color: #333333;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.item p {
  width: 405px;
  height: 259px;
  font-size: 16px;
  color: rgb(64, 78, 96);
  line-height: 1.8;
}

/* 片段 */
.section1 {
    width: 100%;
    height: 645px;
  }

.section2{
    width: 100%;
    height: 1990px;
}
.section3{
    width: 100%;
    height: 1193px;
}
.section4{
    width: 100%;
    height: 674px;
}


/* 尾部 */
.footer {
    width: 100%;
    height: 328px;
    background-color: #3c8cff;
  }
  .footer-content1 {
    width: 100%;
    height: 180px;
    padding-right: 125px;
    padding-left: 125px;
    padding-top: 43px;
    box-sizing: border-box;
    padding-bottom: 33px;
  }
  .footer-logo {
    display: inline-block;
    width: 251px;
    height: 43px;
    margin: 0px 29px 29px 0px;
  }
  .footer-logo img {
    width: 166px;
    height: 43px;
  }
  /* 尾部内容 */
  .footer-content {
    width: 895px;
    height: 185px;
    float: right;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    height: 184px;
    margin-right: 122px;
    float: left;
  }
  
  .item1 {
    width: 80px;
  }
  .item2 {
    width: 64px;
  }
  .item3 {
    width: 176px;
  }
  .item4 {
    width: 83px;
  }
  .footer-content h5 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 22px;
  }
  .footer-content p {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
  }
  .item4 img {
    width: 14px;
    height: 14px;
  }
  /* 底部 */
  .footer-bottom {
    position: relative;

    margin-top: 15px;
  }
  .footer-bottom-left {
    position: relative;
    width: 155px;
    height: 27px;
  }
  .footer-bottom-left p {
    position: absolute;
    bottom: -135px;
    width: 90%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 5px 6px;
  }
  
  .footer-bottom-left img {
    width: 12px;
    height: 12px;
    float: right;
  }
  .footer-bottom-right {
    position: absolute;
    top: 130px;
    right: 0;
    width: 376px;
    height: 46px;
    font-size: 14px;
    color: #fff;
  }
  .footer-bottom-right p:first-child {
    font-size: 16px;
    margin-left: 200px;
  }
  .footer-bottom-right p:last-child {
    position: relative;
    margin-left: 21px;
    margin-top: 10px;
  }
  .footer-bottom-right img {
    position: absolute;
    top: -4px;
    left: -26px;
    width: 20px;
    height: 20px;
  }
  .footer-content p:hover {
    color: rgb(108, 213, 227);
  }
  .footer-bottom-top{
    position: absolute;
    top: 2px;
    width: 155px;
    height: 90px;
    background-color: rgb(50,93,165);
    padding: 5px 0px;
    border-radius: 2px;
    border: 1px solid #333;
    margin-top: 30px;
    margin-bottom: -14px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 1px 1px inset;
    display: none;
  }
  .footer-bottom-top p{
    line-height: 1.6;
    font-size: 14px;
    color: #fff;
    width: 100%;
    padding-left: 5px;
  }
  .footer-bottom-top p:hover{
    background-color: #3c8cff;
  }